<!-- Cards with media area -->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{model.cityName}}</mat-card-title>
        <mat-card-subtitle>{{model.description}}</mat-card-subtitle>
        <img mat-card-sm-image src="{{model.imageUrl}}" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>temp: {{model.temp}}</p>
        <br>
        <p>humidity: {{model.humidity}}</p>
        <br>
        <p>pressure: {{model.pressure}}</p>
        <br>
        <p>wind degree: {{model.windDegree}}</p>
        <br>
        <p>wind speed: {{model.windSpeed}}</p>
    </mat-card-content>
  </mat-card>
